<h1>
    UNDER CONSTRUCTION!
</h1>

<div id="homeBody">
    <div id="topHomeContainer">
        <h2 id="nameHeader">
            Robin Andrea II
        </h2> 
        <div id="mainPortrait">
            An Image will go here!
        </div>
        <div id="coreValues">
            Learn * Compete * Achieve
        </div>
    </div>
    <div id="homeNavBar">
        <div id="softwareProjectsButton">
            Software Projects
        </div>
        <div id="coachAButton">
            Coach A
        </div>
    </div>
    <div id="availabilityBar">
        Open for Remote Software Development and Basketball Coaching Opportunities
    </div>
    <div id="blurbContainer">
        <div class="blurb" id="softwareProjectsBlurb">
            Blurb about Software Projects Goes Here....
        </div>
        <div class="blurb" id="coachABlurb">
            Blurb about Coaching Goes Here....
        </div>
    </div>
</div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<script>
    button1 = document.getElementById("softwareProjectsButton");
    button2 = document.getElementById("coachAButton");
    button1.addEventListener("click", function() { 
        switchBlurb(button1); 
    });
    button2.addEventListener("click", function() {
        switchBlurb(button2); 
    });
    function switchBlurb(button) {
        if (button == button1) {
            dont_blurb = document.getElementById("coachABlurb");
            show_blurb = document.getElementById("softwareProjectsBlurb");
            dont_blurb_button = document.getElementById("coachAButton");
            show_blurb_button = document.getElementById("softwareProjectsButton");
            dont_blurb.style.display = "none";
            show_blurb.style.display = "grid";
            dont_blurb_button.style.backgroundColor = "purple";
            show_blurb_button.style.backgroundColor = "yellow";
        } else {
            dont_blurb = document.getElementById("softwareProjectsBlurb");
            show_blurb = document.getElementById("coachABlurb");
            dont_blurb_button = document.getElementById("softwareProjectsButton");
            show_blurb_button = document.getElementById("coachAButton");
            dont_blurb.style.display = "none";
            show_blurb.style.display = "grid";
            dont_blurb_button.style.backgroundColor = "purple";
            show_blurb_button.style.backgroundColor = "yellow";
        }
    }
</script>