<h1>
    UNDER CONSTRUCTION!
</h1>

<div id="homeBody">
    <div id="topHomeContainer">
        <h2 id="nameHeader">
            Robin Andrea II
        </h2> 
        <div id="mainPortrait">
            An Image will go here!
        </div>
        <div id="coreValues">
            Learn * Compete * Achieve
        </div>
    </div>
    <div id="homeNavBar">
        <div id="softwareProjectsButton">
            Software Projects
        </div>
        <div id="coachAButton">
            Coach A
        </div>
    </div>
    <div id="availabilityBar">
        Open for Remote Software Development and Head Basketball Coaching Opportunities
    </div>
    <div id="softwareProjectsBlurb">
        Blurb about Software Projects Goes Here....
    </div>
    <div id="coachABlurb">
        Blurb about Coaching Goes Here....
    </div>
</div>