<h1>
    UNDER CONSTRUCTION!
</h1>

<div id="homeBody">
    <div id="topHomeContainer">
        <h2 id="nameHeader">
            Robin Andrea II
        </h2> 
        <div id="mainPortrait">
            An Image will go here!
        </div>
        <div id="coreValues">
            Learn * Compete * Achieve
        </div>
    </div>
    <div id="homeNavBar">
        <div id="softwareProjectsButton">
            Software Projects
        </div>
        <div id="coachAButton">
            Coach A
        </div>
    </div>
    <div id="availabilityBar">
        Open for Remote Software Development and Basketball Coaching Opportunities
    </div>
    <div id="blurbContainer">
        <div class="blurb" id="softwareProjectsBlurb">
            In 2019 I made the decision to transition away from my career as a successful business executive (7 years - up to 125 employees) to achieve my dream of becoming a software developer.
            The following is a list of the work that I have completed since I dedicated myself to this path.  I am still learning, still growing, and have never looked back.  The enjoyment I 
            experience from being challenged every day and learning new things is the greatest feeling in the world.  

            I have organized my Github into 2 projects (for cleanliness) and the primary work that I am most proud of so far, Gonerecruiting.

            <ul>
                <li><a href="http://www.gonerecruiting.com">Gonerecruiting</a> -- <a href="https://github.com/CoolGlasses/gonerecruiting">Repo</a></li>
                <li><a href="https://github.com/CoolGlasses/webscraping">Webscrapers</a></li>
                <li><a href="https://github.com/CoolGlasses?tab=projects">Learning Projects</a> from App Academy, Odin Project, etc</li>
            </ul>

            For reference, both this and Gonerecruiting are co-located on a single DigitalOcean droplet, and were deployed us Capistrano.
        </div>
        <div class="blurb" id="coachABlurb">
            As the son of a Football & Women's Basketball Coach, I was born into the profession.  Helping young people learn the power of setting goals, helping them to accomplish them, all the while
            getting a chance to compete in the game that we love provides a unique confluence opportunities that is truly special and rewarding.  

            <ul>My career as a Basketball Coach is highlighted by:
                <li>15 years combined at the NCAA D2, Junior College and High School Levels</li>
                <li>2018 - Current, Head Assistant @ Linn Benton Community College</li>
                    <ul>
                        <li>Head Recruiter – 7 signees for 2019-2020 (6 in first week of signing period)</li>
                        <li>Defensive Coordinator – Top 3 Defense in NWAC (’19-’20)</li>
                        <li>Helped earn first 20-win season in over a Decade at Linn-Benton (’19-’20)</li>
                        <li>Responsible for Press Break Tactics</li>
                    </ul>
                <li>2012 - 2016, Head Coach -  Hillsboro High School Boys</li>
                    <ul>
                        <li>Expanded and Developed Youth Program to coincide with High School Program – 5th-12th Grade</li>
                        <li>Developed fundraising activities – Meals on Wheels, 3v3 Community Tournament, and Youth Basketball Tournaments</li>
                        <li>Established Live Game Broadcast – All 24 games + Playoffs free Online for Community – began to develop commercial
                        revenue streams</li>
                        <li>Established Dress for Success – Joint venture with Men’s Wearhouse donating $10,000+ in Suits and Tailoring + Mentorship</li>
                    </ul>
                <li>2011 - 2012, Women's Assistant Coach - Western Oregon University </li>
                    <ul>
                        <li>Head of Recruiting – 4 early signees in 2011 (WA, UT, CA)</li>
                        <li>Responsible for Post Player Development</li>
                        <li>Responsible for Press Scheme Development</li>
                        <li>Coordinated Travel Arrangements – Flights/Hotels/Vehicles</li>
                    </ul>
                <li>2006 - 2011, Men's Assistant Coach - Western Oregon University</li>
                    <ul>
                        <li>Responsible for rebounding scheme (10th in Nation in differential in 07-08)</li>
                        <li>Developed & administered strength training/conditioning program</li>
                        <li>Developed and ran basketball camps & clinics</li>
                        <li>Scheduled non-conference & exhibition games</li>
                    </ul>
            </ul>

        </div>
    </div>
</div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<div class="firefly"></div>
<script>
    button1 = document.getElementById("softwareProjectsButton");
    button2 = document.getElementById("coachAButton");
    button1.addEventListener("click", function() { 
        switchBlurb(button1); 
    });
    button2.addEventListener("click", function() {
        switchBlurb(button2); 
    });
    function switchBlurb(button) {
        if (button == button1) {
            dont_blurb = document.getElementById("coachABlurb");
            show_blurb = document.getElementById("softwareProjectsBlurb");
            dont_blurb_button = document.getElementById("coachAButton");
            show_blurb_button = document.getElementById("softwareProjectsButton");
            dont_blurb.style.display = "none";
            show_blurb.style.display = "grid";
            dont_blurb_button.style.backgroundColor = "purple";
            show_blurb_button.style.backgroundColor = "yellow";
        } else {
            dont_blurb = document.getElementById("softwareProjectsBlurb");
            show_blurb = document.getElementById("coachABlurb");
            dont_blurb_button = document.getElementById("softwareProjectsButton");
            show_blurb_button = document.getElementById("coachAButton");
            dont_blurb.style.display = "none";
            show_blurb.style.display = "grid";
            dont_blurb_button.style.backgroundColor = "purple";
            show_blurb_button.style.backgroundColor = "yellow";
        }
    }
</script>